* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button{
  margin: 25px auto;
  display: block;
  padding: 5px;
  cursor: pointer;
}

.child{
  margin: 25px auto;
  text-align: center;
  display: block;
  padding: 5px;
}